<div class="container main-container">
    <h1>{{titulo}}</h1>
    <hr>

    <form [formGroup]="cadastroForm" (ngSubmit)="adicionarTarefa()">

        <label class="control-label" for="nome">Título</label>
        <div>
            <input class="form-control" id="titulo" type="text" placeholder="Título (requerido)"
                formControlName="titulo" />
        </div>
        <br>
        <label class="control-label" for="prioridade">Prioridade</label>
        <div>
            <select id="prioridade" formControlName="prioridade">
                <option *ngFor="let prioridades of prioridade" value={{prioridades}}>
                    {{tipos[prioridades]}}
                </option>
           </select>
        </div>
        <br>
        <div class="form-group">
            <div class="container">
                <button class="btn btn-success" id="registrar" type="submit">Registrar</button>
                <button class="btn btn-danger" id="cancelar" type="button" (click)="cancelar()">Cancelar</button>
            </div>
        </div>
    </form>
</div>     