<h1>{{titulo}}</h1>
<hr>
<br>

<table>
    <thead>
        <th scope="col">Título</th>
        <th scope="col">Prioridade</th>
        <th scope="col">Data Criação</th>
        <th scope="col">Percentual</th>
        <th scope="col">Data Conclusão</th>
    </thead>
    <tbody>
        <tr *ngFor="let tarefa of listaTarefa">
            <td>{{tarefa.titulo}}</td>
            <td>{{converterPrioridade(tarefa.prioridade)}}</td>
            <td>{{tarefa.dataCriacao | date: 'dd/MM/yyyy'}}</td>
            <td>{{tarefa.percentual}}</td>
            <td>{{tarefa.dataConclusao | date: 'dd/MM/yyyy'}}</td>
        </tr>

    </tbody>
</table>