<h1>{{titulo}}</h1>
<hr>

<form [formGroup]="cadastroForm" (ngSubmit)="adicionarFuncionario()">
    <label for="nome">Nome</label>
    <div>
        <input id="nome" type="text" placeholder="Nome" formControlName="nome">
    </div>
    <label for="cpf">Cpf</label>
    <div>
        <input id="cpf" type="text" placeholder="Cpf" formControlName="cpf">
    </div>
    <label for="dataAdmissao">Data Admissão</label>
    <div>
        <input id="dataAdmissao" type="date" placeholder="Data Admissão" formControlName="dataAdmissao">
    </div>
    <label for="cargo">Cargo</label>
    <div>
        <select id="cargo" formControlName="cargo">
            <option value="0">oreia</option>
            <option value="1">patrão</option>
            <option value="2">jamelão</option>
        </select>
    </div>
    <br>
    <div>
        <button id="registrar" type="submit">Registrar</button>
    </div>

</form>